@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;500;700&display=swap');

*, p, li, ul{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
    scroll-behavior: smooth;
}

body{
    background: url('/static/img/fundos/honkai.jpg');
    
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header{
    background: #0E011E;
    padding: 7px 0px;
    border-bottom: 1px solid #330170;
}

header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
}

header div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#logo{
    height: 50px;
}

header nav ul li a {
    padding: 10px;
    margin-left: 10px;

}

header nav ul li a:hover {
    /*text-shadow: 2px 2px 10px #8a2be2;*/
    text-shadow: 2px 2px 10px white;
    text-decoration: underline;
}

/*Barra pesquisa*/
#search{
    background: black;
    width: max-content;
    border-radius: 10px;
    padding: 5px 10px;
}

#search input{
    background: black;
    border: none;
    color: white;
    font-size: 16px;
    padding: 5px 0px;
}

#search span {
    cursor: pointer;
    color: white;
}

#search input:focus{
    outline: 0;
}

#search input::placeholder{
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

#search:hover input::placeholder{
    color: rgb(165, 165, 165);
}

/*Dropdown*/
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content-search{
    display: none;
    position: absolute;
    background-color: #0e011ef0;
    min-width: 100%;
    width: 150%;
    transform: translate(-15%, 0);
    box-shadow: 0px 8px 16px 0px #290a4e99;
    border-radius: 7px;
    z-index: 1;
    overflow: auto;
    max-height: 80vh;
}

.dropdown-content-search::-webkit-scrollbar{
    width: 10px;
}

.dropdown-content-search::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}

.dropdown-content-search::-webkit-scrollbar-thumb{
    background: #8a2be2;
    border-radius: 5px;
}

.dropdown-content-search::-webkit-scrollbar-thumb:hover {
    background: #892be29f; 
}

.dropdown-content-search ul{
    display: grid;
    grid-template-columns: 1fr;
}

.dropdown-content-search ul li{
    padding: 7px 0px;
}

.dropdown-content-generos{
    display: none;
    position: absolute;
    background-color: #0e011ef4;
    width: 80vh;
    box-shadow: 0px 8px 16px 0px #290a4e99;
    border-radius: 7px;
    padding: 10px 5px;
    z-index: 1;
}

.dropdown-content-generos ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 7px;
}

.dropdown-content-generos ul li{
    padding: 3px 0px;
}

.dropdown:hover .dropdown-content-generos{
    display: block;
}

footer {
    background: #0E011E;
    padding: 10px 0px;
    text-align: center;
}

.div2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.div2 p {
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ul .img_pesquisa {
    width: 50px;
}

#ul li a{
    padding: 0;
    display: block;
}

#sidebar_info_usuario {
    display: none;
    position: absolute;
    top: 10%;
    float: right;
    right: 10px;
    width: 200px;
    height: min-content;
    padding: 20px 0;
    background-color: #190334;
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
}

#sidebar_info_usuario #nome_usuario {
    font-size: 22px;
    font-family: 'Libre Baskerville', serif;
    border-bottom: 1px solid #4e1891;
}

#sidebar_info_usuario li a {
    padding: 5px;
}

#sidebar_info_usuario li a:hover {
    text-shadow: 2px 2px 10px #8a2be2;
    text-decoration: underline;
}

#sidebar_info_usuario li {
    padding: 10px;
}

.encerrar_sessao {
    padding: 20px;
    border-radius: 5px;
    background-color: #8a2be2;
    color: #fff;
}

#sidebar_info_usuario .encerrar_sessao:hover {
    box-shadow: 2px 2px 8px #8a2be2;
}

.li_encerrar_sessao {
    margin-top: 30px;
}

#doacao, #doacao i {
    color: orange;
}

#doacao:hover i {
    box-shadow: 2px 2px 8px orange;
}

[aria-label] {
    position: relative;
}
    
[aria-label]::after {
content: attr(aria-label);
display: none;
position: absolute;
top: 110%;
left: 0px;
z-index: 5000;
pointer-events: none;
padding: 10px 15px;
text-decoration: none;
font-size: 1.1em;
width: 200%;
transform: translate(-25%, 0);
color: blueviolet;
background-color: #190334;
border-radius: 10px;
text-shadow: 1px 1px 3px black;
}

[aria-label]:hover::after {
display: block;
}

main{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

#fundo{
    grid-column: 2;
    background: hsla(267, 94%, 6%, 0.950);
    min-height: 100vh;
    padding: 20px;
}

footer p {
    margin: 5px 0;
}

#botao_topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    background: #0e011e;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #a77bd0;
    border: 1px solid #a77bd0;
}

#botao_topo i {
    font-size: 20px;
    color: #fff;
}