<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/cadastro_login.css') }}">
    <title>Faça seu cadastro | Eiya Animes</title>
</head>
<body>
    <div id="form">
        <div class="div_a_img_logo">
            <a href="/">
                <img src="{{ url_for('static', filename = 'img/logo2.png') }}" alt="logo" width="200px" >
            </a>
        </div>
        <h1>Faça seu Cadastro</h1>
        <label for="login">Nickname:</label>
        <input id="login" class="input" type="text">

        <label for="email">Email:</label>
        <input id="email" class="input" type="email">

        <label for="senha">Senha:</label>
        <input id="senha" class="input" type="password">

        <label for="confirmarSenha">Confirmar Senha:</label>
        <input id="confirmarSenha" class="input" type="password">

        <input id="button_novo_usuario" class="input_button" type="submit" value="Cadastrar">

        <a class="link" href="/login">Já tem conta?</a>
    </div>

    <script src="{{ url_for('static', filename='js/cadastro.js')}}"></script>
</body>
</html>